<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<h1>Login Form</h1>

<p  >Username or password errors</p>

<form action="#"  th:action="@{/login}" th:object="${user}" method="post">
    <div >
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="${user.username}" th:trim="true" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="${user.password}" th:trim="true" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    </div>
</form>
</body>
</html>
